.games-container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.game {
  width: 20vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}